    body {
        font-family: helvetica;
        margin: 0;
    }

    .header {
        background-color: black;
        width: 1215px;
        height: 65px;
        margin-bottom: 0px;
        position: fixed;
    }

    .header img {
        height: 65px;
        width: 240px;
    }

    .header-link {
        background-color: black;
        float: right;
        width: 935px;
        text-align: right;
        font-family: helvetica;
        font-size: 20px;
        padding: 20px 17px;
        clear: both;
    }

    .header-link a {
        text-decoration: none;
        color: rgb(214, 181, 181);
        padding: 5px 20px;
    }

    #white {
        background-color: white;
        color: black;
        border-radius: 15px;
    }

    .header-link a:hover {
        color: white;
    }

    .left ul {
        float: left;
        background-color: black;
        color: white;
        width: 240px;
        min-height: 640px;
        margin-top: 0;
        margin-bottom: 0;
        clear: both;
        position: fixed;
    }

    .left li {
        list-style-type: none;
    }

    .left a {
        text-decoration: none;
        color: rgb(214, 181, 181);

    }

    #li-white a {
        color: white;
    }

    .left img {
        margin-top: 20px;
    }

    .left li a:hover {
        color: white;
    }

    .content {
        float: left;
        background-color: rgb(58, 54, 54);
        height: 600px;
        width: 935px;
        color: white;
        padding-bottom: 40px;
        margin-left: 280px;
        margin-top: 65px;
    }

    .content h2 {
        padding-left: 40px;
    }

    .grid-container1,
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: rgb(58, 54, 54);
        padding: 20px 20px;
        padding-left: 50px;
        gap: 20px 30px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgb(58, 54, 54);
        padding: 0px;
        font-size: 30px;
        text-align: center;
        height: 200px;
        width: 150px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
    }

    .grid-item iframe {
        border-left: 0px;
    }

    footer {
        background-color: black;
        float: left;
        height: 65px;
        width: 1195px;
        margin-top: 0;
        color: white;
        font-size: 14px;
        padding-left: 20px;
        text-align: center;
    }

    @media only screen and (max-width: 768px) {

        /* For desktop: */
        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }
    }