    body {
        font-family: arial;
        background-color: rgb(252, 252, 216);
        text-align: justify;
        width: 100%;
    }

    header,
    footer {
        width: 100%;
        border: 2px solid black;
        border-style: dashed;
    }

    div.dangnhap {
        float: right;
        text-align: left;
        margin-right: 20px;
        margin-top: 10px;
    }

    div.search {
        float: left;
        text-align: left;
        margin-left: 5px;
        margin-top: 10px;
        width: 10%;
    }

    section,
    img,
    p,
    h5,
    ul {
        width: 77%;
        margin-left: 10%;
        margin-top: 5px;
    }

    header,
    div.nav {
        background-color: rgb(240, 183, 78);
        text-align: center;
        margin-bottom: 5px;
    }

    h1 {
        color: red;
        padding-top: 5px;
    }

    nav {
        font-size: 150%;
        padding: 10px;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        background-color: pink;
    }

    img {
        width: 730px;
        height: 400px;
    }

    ul {
        list-style-type: none;
    }

    footer {
        background-color: rgb(145, 226, 145);
    }

    h5 {
        font-size: 120%;
        background-color: yellow;
        width: 200px;
    }

    .h6 {
        font-size: 110%;
        color: red;
        font-style: italic;
        font-weight: bold;
    }

    .search,
    .dangnhap {
        display: inline-block;
    }